
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAllocationLabel" translate="ontimeApp.allocation.home.createOrEditLabel">Create or edit a Allocation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="allocation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ontimeApp.allocation.fte" for="field_fte">Fte</label>
            <input type="number" class="form-control" name="fte" id="field_fte"
                    ng-model="allocation.fte"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ontimeApp.allocation.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="allocation.year"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ontimeApp.allocation.month" for="field_month">Month</label>
            <input type="number" class="form-control" name="month" id="field_month"
                    ng-model="allocation.month"
                     />
        </div>

        <div class="form-group">
            <label translate="ontimeApp.allocation.projectCountry" for="field_projectCountry">projectCountry</label>
            <select class="form-control" id="field_projectCountry" name="projectCountry" ng-model="allocation.projectCountryId" ng-options="projectCountry.id as projectCountry.id for projectCountry in projectcountrys | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ontimeApp.allocation.employment" for="field_employment">employment</label>
            <select class="form-control" id="field_employment" name="employment" ng-model="allocation.employmentId" ng-options="employment.id as employment.id for employment in employments | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ontimeApp.allocation.skill" for="field_skill">skill</label>
            <select class="form-control" id="field_skill" name="skill" ng-model="allocation.skillId" ng-options="skill.id as skill.id for skill in skills | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
